/*color*/
/*Screen*/
* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
}

a {
  color: #000000;
  text-decoration: none;
}

body {
  background-color: #F6F6F6;
}

.button {
  text-decoration: none;
  color: #fff;
  background: linear-gradient(#FF79DA, #9356DC);
  font-size: 20px;
  padding: 15px;
  border-radius: 25px;
}

.logo-header {
  text-align: center;
  font-size: 50px;
  padding: 15px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.logo-header .img_logo {
  width: 95%;
}
.logo-header .img_logo img {
  height: 50px;
}
.logo-header a {
  font-size: 25px;
}

.place {
  background-color: rgb(234, 234, 234);
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-top: 4px;
}
.place i {
  margin: 20px;
}

.img_header {
  width: 100%;
  height: 300px;
  position: relative;
  z-index: 1;
}
.img_header img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  color: #fff;
  background-color: #373737;
  height: 200px;
  padding: 25px;
}
.footer .category {
  margin-bottom: 10px;
}
.footer .category i {
  margin-right: 5px;
}
.footer p {
  font-family: "Shrikhand", cursive;
  font-size: 25px;
}
@media (min-width: 992px) {
  .footer {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-around;
  }
}

.presentation {
  text-align: center;
  background-color: #F6F6F6;
  padding-bottom: 50px;
}
.presentation h2 {
  font-size: 30px;
  margin: 0;
  padding-top: 25px;
}
.presentation p {
  font-size: 20px;
  margin-bottom: 50px;
  color: #777777;
}

.functioning {
  background-color: #fff;
}
.functioning h2 {
  margin: 20px;
}
.functioning .box {
  display: flex;
  background: #F6F6F6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 25px;
  margin: 25px;
  font-size: 20px;
  align-items: center;
}
.functioning .box p {
  margin: 0;
  font-weight: bold;
  padding-left: 25px;
  overflow: hidden;
  width: 75%;
}
.functioning .box i {
  color: #777777;
  width: auto;
  overflow: visible;
}
.functioning .number {
  background-color: #9356DC;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  height: 30px;
  min-width: 35px;
  max-width: 35px;
  width: 15%;
  padding-top: 5px;
  position: relative;
  right: 40px;
  z-index: 2;
}
@media (min-width: 992px) {
  .functioning {
    display: flex;
    align-items: center;
  }
  .functioning .box {
    width: 33%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .functioning {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  .functioning h2 {
    width: 100%;
    text-align: center;
  }
  .functioning .box {
    width: 50%;
  }
}

.restaurant {
  width: 100%;
  background-color: #F6F6F6;
  padding-top: 25px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 750px;
}
.restaurant h2 {
  width: 90%;
  font-size: 30px;
}
@media (min-width: 992px) {
  .restaurant {
    height: 350px;
  }
  .restaurant h2 {
    text-align: center;
  }
  .restaurant .card {
    width: 20%;
    height: 80%;
  }
  .restaurant .card .images {
    height: 70%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .restaurant h2 {
    text-align: center;
  }
  .restaurant .card {
    width: 45%;
    height: 40%;
  }
}

.card {
  width: 90%;
  height: 20%;
  background-color: #fff;
  border-radius: 25px;
}
.card .images {
  height: 65%;
  width: 100%;
}
.card .images img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 25px 25px 0 0;
}
.card .text {
  height: 18%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
}
.card .text p {
  margin: 0;
}
.card .text h3 {
  margin: 0;
}

.restaurant_card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #F6F6F6;
  padding: 25px;
  border-radius: 50px 50px 0 0;
  position: relative;
  z-index: 2;
  bottom: 50px;
}
.restaurant_card h1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.restaurant_card .button {
  text-align: center;
  padding: 15px 50px;
  margin-top: 25px;
}
.restaurant_card .menu {
  display: flex;
  flex-wrap: wrap;
}
.restaurant_card .menu h2 {
  font-weight: 400;
  border-bottom: 3px solid #99E2D0;
  width: 50px;
  position: relative;
}
.restaurant_card .menu .enter, .restaurant_card .menu .main_dish, .restaurant_card .menu .dessert {
  width: 100%;
}
.restaurant_card .menu .dish {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin-bottom: 25px;
  border-radius: 25px;
  width: 100%;
}
.restaurant_card .menu .dish p {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 10px 25px 15px 15px;
}
.restaurant_card .menu .dish p span {
  font-weight: bold;
}
.restaurant_card .menu .dish h3 {
  margin: 0;
  padding: 15px 15px 0 15px;
}
@media (min-width: 768px) {
  .restaurant_card .menu {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .restaurant_card .menu .dish {
    width: 90%;
  }
}/*# sourceMappingURL=main.css.map */