/*color*/
/*Screen*/
* {
  font-family: "Roboto", sans-serif;
}

h1, .logo_write {
  font-family: "Shrikhand", cursive;
}

a {
  color: #000000;
  text-decoration: none;
}

body {
  background-color: #F6F6F6;
}

figure {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.button {
  text-decoration: none;
  color: #fff;
  background: linear-gradient(#FF79DA, #9356DC);
  font-size: 20px;
  padding: 15px;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.button:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transform: opacity 250ms;
  opacity: 0.8;
}

.new {
  color: #278870;
  background-color: #99E2D0;
  text-align: center;
  border-radius: 5px;
  position: relative;
  font-weight: bold;
  bottom: 150px;
  width: 75px;
  padding: 5px;
  margin-right: 15px;
}
@media (min-width: 768px) {
  .new {
    bottom: 215px;
  }
}
@media (min-width: 992px) {
  .new {
    bottom: 200px;
  }
}

/*Like restaurant home */
.favorite {
  width: 25px;
  text-align: center;
  font-size: 20px;
  transition: 0.5s;
}
.favorite--full {
  margin-top: -22px;
  color: transparent;
}
.favorite:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/*animation when hovering over dishes*/
.selector {
  width: 0px;
  min-width: 0px;
  font-size: 20px;
  overflow: hidden;
  text-align: center;
  height: 100%;
  border-radius: 0 25px 25px 0;
  transition: 0.5s;
}
.selector i {
  margin-top: 25px;
  color: #99E2D0;
  background-color: #fff;
  border: 3px solid #fff;
  border-radius: 25px;
}

.menu__meal__dish:hover .selector {
  transition: 1s;
  min-width: 75px;
  background-color: #99E2D0;
}
.menu__meal__dish:hover .selector i {
  transition: 1s;
  transform: rotate(2turn);
}

/*appearance of the dishes one after the other*/
.menu__meal__dish, .menu__meal__title {
  -webkit-animation: appearance 1 2s alternate;
          animation: appearance 1 2s alternate;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  opacity: 0;
}
.menu__meal__dish--1, .menu__meal__title--1 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.menu__meal__dish--2, .menu__meal__title--2 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.menu__meal__dish--3, .menu__meal__title--3 {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}
.menu__meal__dish--4, .menu__meal__title--4 {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

@-webkit-keyframes appearance {
  100% {
    transform: translateY(-5px);
    opacity: 1;
  }
}

@keyframes appearance {
  100% {
    transform: translateY(-5px);
    opacity: 1;
  }
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
}
.loader__svg {
  height: 100%;
  width: 90%;
}
.loader__svg__o1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.loader__svg__h {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.loader__svg__m {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.loader__svg__y {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.loader__svg__f {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.loader__svg__o2 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.loader__svg__o3 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.loader__svg__d {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

path {
  -webkit-animation: loader 4 0.5s alternate;
          animation: loader 4 0.5s alternate;
  fill: #FF79DA;
}

@-webkit-keyframes loader {
  100% {
    transform: translateY(-30px);
    fill: #9356DC;
  }
}

@keyframes loader {
  100% {
    transform: translateY(-30px);
    fill: #9356DC;
  }
}
.page {
  -webkit-animation: endloader 1 alternate;
          animation: endloader 1 alternate;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  opacity: 0;
  position: relative;
  height: 0;
  overflow: hidden;
  margin-top: -30px;
}

@-webkit-keyframes endloader {
  100% {
    opacity: 1;
    z-index: 2;
    height: auto;
    transform: translateY(30px);
  }
}

@keyframes endloader {
  100% {
    opacity: 1;
    z-index: 2;
    height: auto;
    transform: translateY(30px);
  }
}
.header__logo {
  text-align: center;
  font-size: 68px;
  padding: 15px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.header__logo__image {
  height: 40px;
}
.header__logo--little {
  width: 90%;
}
.header__logo--little img {
  height: 40px;
}
.header__logo a {
  font-size: 25px;
}
.header__place {
  background-color: #e9e9e9;
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-top: 4px;
}
.header__place__input {
  outline: none;
  border: none;
  background-color: #e9e9e9;
  color: #000000;
}
.header__place__input::-moz-placeholder {
  color: #000000;
}
.header__place__input:-ms-input-placeholder {
  color: #000000;
}
.header__place__input::placeholder {
  color: #000000;
}
.header__place i {
  margin: 20px;
}
.header__picture {
  width: 100%;
  height: 300px;
  position: relative;
  z-index: 1;
}
.header__picture img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 992px) {
  .header__picture {
    height: 400px;
  }
}

.footer__nav {
  color: #fff;
  background-color: #373737;
  height: 200px;
  padding: 25px;
}
.footer__nav__link {
  margin-bottom: 10px;
}
.footer__nav__link i {
  margin-right: 5px;
}
.footer__nav p {
  font-size: 25px;
}
.footer__nav a {
  color: #fff;
}
@media (min-width: 768px) {
  .footer__nav {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
  }
  .footer__nav ul {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
  }
}

.presentation {
  text-align: center;
  background-color: #F6F6F6;
  padding-bottom: 50px;
}
.presentation h2 {
  font-size: 30px;
  margin: 0;
  padding: 25px;
  font-size: 25px;
}
.presentation p {
  font-size: 20px;
  padding: 0 25px;
  margin: 0;
  margin-bottom: 50px;
  color: #777777;
}

.functioning {
  background-color: #fff;
  padding: 25px;
}
.functioning h2 {
  margin: 20px;
}
.functioning__box {
  display: flex;
  background: #F6F6F6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 30px;
  margin-bottom: 25px;
  font-size: 20px;
  align-items: center;
}
.functioning__box__number {
  background-color: #9356DC;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  height: 30px;
  min-width: 35px;
  max-width: 35px;
  width: 15%;
  padding-top: 5px;
  position: relative;
  right: 40px;
}
.functioning__box__text {
  margin: 0;
  font-weight: bold;
  padding-left: 25px;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75%;
}
.functioning__box i {
  color: #777777;
  width: auto;
  overflow: visible;
}
.functioning__box--purple {
  background-color: #f2eafb;
}
.functioning__box--purple i {
  color: #9356DC;
}
@media (min-width: 768px) {
  .functioning {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  .functioning h2 {
    width: 100%;
    text-align: center;
  }
  .functioning__box {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .functioning__box {
    width: 22%;
  }
}

.restaurant {
  width: 100%;
  background-color: #F6F6F6;
  padding-top: 50px;
  padding-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 1000px;
}
.restaurant h2 {
  width: 90%;
  height: 25px;
  font-size: 25px;
  margin: 0;
}
.restaurant__card {
  width: 90%;
  height: 22%;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.restaurant__card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.restaurant__card__image {
  height: 75%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
.restaurant__card__image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 25px 25px 0 0;
}
.restaurant__card__text {
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  flex-grow: 1;
}
.restaurant__card__text p {
  margin: 0;
}
.restaurant__card__text h3 {
  margin: 0;
}
@media (min-width: 768px) {
  .restaurant {
    height: 750px;
  }
  .restaurant h2 {
    text-align: center;
  }
  .restaurant__card {
    width: 45%;
    height: 40%;
  }
  .restaurant__card__image {
    height: 75%;
  }
}
@media (min-width: 992px) {
  .restaurant {
    height: 350px;
  }
  .restaurant__card {
    width: 20%;
    height: 80%;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #F6F6F6;
  padding: 25px;
  border-radius: 50px 50px 0 0;
  position: relative;
  z-index: 2;
  bottom: 50px;
}
.menu h1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.menu .button--position {
  text-align: center;
  padding: 15px 50px;
  margin-top: 25px;
}
.menu__meal {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.menu__meal__tittle {
  font-weight: 400;
  border-bottom: 3px solid #99E2D0;
  height: 30px;
  width: 50px;
  position: relative;
}
.menu__meal__enter, .menu__meal__main_dish, .menu__meal__dessert {
  width: 100%;
}
.menu__meal__dish {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin-bottom: 25px;
  border-radius: 25px;
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu__meal__dish span {
  font-weight: bold;
  padding: 15px;
  margin-top: 40px;
}
.menu__meal__dish__text {
  height: 65%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px;
  width: 50px;
}
.menu__meal__dish__text p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__meal__dish__text h3 {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (min-width: 768px) {
  .menu__meal a {
    width: 75%;
    height: 75px;
    margin-bottom: 25px;
  }
  .menu__meal__enter, .menu__meal__main_dish, .menu__meal__dessert {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 992px) {
  .menu__meal {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .menu__meal__enter, .menu__meal__main_dish, .menu__meal__dessert {
    display: block;
    width: 30%;
  }
}/*# sourceMappingURL=main.css.map */