.restaurant{
    
    width: 100%;
    background-color: $color-grey;
    padding-top: 25px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 750px;
    h2{
       width: 90%;
    }
}

.card {
    width: 90%;
    height: 20%;
    background-color: $color-white;
    border-radius: 25px;
    
    .images{
        height: 65%;
        width: 100%;
        img{
            object-fit: cover;
            height: 100%;
            width: 100%;
            border-radius: 25px 25px 0 0;
        }
    }
    .text
    {
        height: 18%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 20px;
        p{
            margin: 0;
        }
        h3{
            margin: 0;
        }
    }
}
