.button {
    text-decoration: none;
    color: $color-white;
    background: linear-gradient($color-secondary,$color-primary);
    font-size: 20px;
    padding: 15px;
    border-radius: 25px;
    @include card_shadow;
    &:hover{
        @include card_shadow_hover;
        background: linear-gradient(lighten($color-secondary, 2) 0%, lighten($color-primary, 2) 100%);
    }
}

.new {
    color: darken($color-tertiray, 40%);
    background-color: $color-tertiray;
    text-align: center;
    border-radius: 5px;
    position: relative;
    font-weight: bold;
    bottom: 150px;
    width: 75px;
    padding: 5px;
    margin-right: 15px; 
    
    @media (min-width:$screen-tablet)
    {
        bottom: 215px;
    }
    @media (min-width:$screen-desktop)
    {
        bottom: 200px;
    }
}
