.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
    &__svg{
        height: 100%;
        width: 90%;
        &__o1 {
            animation-delay: 0.1s;
        }
        &__h {
            animation-delay: 0.2s;
            
        }
        &__m {
            animation-delay: 0.3s;
        }
        &__y {
            animation-delay: 0.4s;
        }
        &__f {
            animation-delay: 0.5s;
        }
        &__o2 {
            animation-delay: 0.6s;
        }
        &__o3 {
            animation-delay: 0.7s;
        }
        &__d {
            animation-delay: 0.8s;
        }
    }
 }
 
path{
    animation: loader 10 0.4s alternate;
    fill:$color-secondary;
    
    }
 
 @keyframes loader {
    
     100% {
        transform: translateY(-30px);
        fill: $color-primary;
    }

    
 }
 
.page
{
    animation: endloader 1 alternate;
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: 4.5s;
    opacity: 0;
    position: relative;
    height: 0;
    overflow: hidden;
    margin-top: 30px;
}
 
@keyframes endloader {
  
    100% {
       opacity: 1;
       z-index: 2;
       height: auto;
       transform: translateY(-30px);
   }   
 }