
.functioning
{
    background-color: $color-white;
    padding: 25px ;
    h2 
    {
        margin: 20px;
    }
    .box{
        display: flex;
        background: $color-grey;
        @include card_shadow;
        border-radius: 25px;
        padding: 25px;
        margin: 25px;
        font-size: 20px;
        align-items: center;
        &.box_purple{
            background-color: lighten($color: $color-primary, $amount: 35) ;
            i {
            color: $color-primary;
            }
        }
        p {
            margin: 0;
            font-weight: bold;
            padding-left: 25px;
            overflow: hidden;
            width: 75%;
        }
        i{
            color: darken($color-grey, 50%);
            width: auto;
            overflow: visible;
        }          
        }

    .number{
            
                background-color: $color-primary;
                border-radius: 20px;
                color: $color-white;
                text-align: center;
                height: 30px;
                min-width: 35px;
                max-width: 35px;
                width: 15%;
                padding-top: 5px;
                position: relative;
                right: 40px;
            }   

    @media (min-width: $screen-desktop)
    {
        display: flex;
        align-items: center;
        .box{
            width: 33%;
        }     
    }
    @media (min-width:$screen-tablet) and (max-width:$screen-desktop)
    {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        h2 {
            width: 100%;
            text-align: center;
        }
        .box{
            width: 50%;
        }     
    }
}

