.presentation
{
    text-align: center;
    background-color: $color-grey;
    padding-bottom: 50px;
    h2 {
        font-size: 30px;
        margin: 0;
        padding-top: 25px;

    }
    p {
        font-size: 20px;
        margin-bottom: 50px;
        color: darken($color-grey, 50%);
    }
}