.menu
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: $color-grey;
    padding: 25px;
    border-radius: 50px 50px 0 0;
    position: relative;
    z-index: 2;
    bottom: 50px;
    h1{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .button--position{
            text-align: center;
            padding: 15px 50px;
            margin-top: 25px;  
        }
    &__meal {
        display: flex;
        flex-wrap: wrap;  
         h2 {
            font-weight: 400;
            border-bottom: 3px solid $color-tertiray;
            width: 50px;
            position: relative;
            }
      
        &__enter, &__main_dish, &__dessert{
            width: 100%
        }
        &__dish{
            @include card_shadow;
            background-color: $color-white;
            margin-bottom: 25px;
            border-radius: 25px;
            height: 75px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 10px 20px;
            
                     
            p{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0;
                width: 100%;               
                span {
                    font-weight: bold;
                }
            }
            h3{
                margin: 0;
                width: 100%;
            }
        
            
        }
    }
    @media (min-width:$screen-tablet)
    {
        &__meal {
            width: 100%;
            flex-wrap: nowrap;
            justify-content: space-around;
            &__dish{
                width: 80%;
            }
        }
    }
}