.restaurant{
    
    width: 100%;
    background-color: $color-grey;
    padding-top: 50px;
    padding-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 1000px;
    h2{
       width: 90%;
       height: 25px;
       font-size: 25px;
       margin: 0;
    }
    &__card {
        width: 90%;
        height: 22%;
        background-color: $color-white;
        border-radius: 25px;
        @include card_shadow;
       
        &:hover
        {
            @include card_shadow_hover;
        }
        
        &__image{
            height: 75%;
            width: 100%;               
            display: flex;
            flex-wrap: wrap;
            justify-content: end;
            img{
                object-fit: cover;
                height: 100%;
                width: 100%;
                border-radius: 25px 25px 0 0;
            }
        }
        &__text
        {
            height: 25%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
           flex-grow: 1;
            p{
                margin: 0;
              }
            h3{
                margin: 0;
             }
        }
    }
    
    @media (min-width:$screen-tablet)
    {
        height: 750px;
        h2 {
            text-align: center;
        }
        &__card {
            width: 45%;
            height: 40%;
            &__image
            {
                height: 75%;
            }
        }
    }

    @media (min-width:$screen-desktop)
    {
        
        height: 350px;
        &__card{
            width: 20%;
            height: 80%;
        }
    }
}


