.menu
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: $color-grey;
    padding: 25px;
    border-radius: 50px 50px 0 0;
    position: relative;
    z-index: 2;
    bottom: 50px;
    h1{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .button--position{
            text-align: center;
            padding: 15px 50px;
            margin-top: 25px;  
        }
    &__meal {
        display: flex;
        flex-wrap: wrap;
        width: 100%;  
         &__tittle {
            font-weight: 400;
            border-bottom: 3px solid $color-tertiray;
            height: 30px;
            width: 50px;
            position: relative;
            }
      
        &__enter, &__main_dish, &__dessert{
            width: 100%;
        }
        &__dish{
            @include card_shadow;
            background-color: $color-white;
            margin-bottom: 25px;
            border-radius: 25px;
            height: 75px;
            display: flex;
            justify-content: space-around;
            align-items: center;          
            &:hover{
                .selector{
                    transition: 1s;
                    min-width: 75px;
                    background-color: $color-tertiray;
                    i{
                    transition: 1s;
                    transform: rotate(2turn);
                    }
                }
                }
            span {
                    font-weight: bold;
                    padding: 15px;
                    margin-top: 40px;
                    
                }
            &__text{
                height: 100%;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin: 15px;   
                width: 50px;
                   
            p{
                margin: 0;        
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                
            }
            
            h3{
                margin: 0;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }}
        
            
        }
    }
    @media (min-width:$screen-tablet)
    {
        &__meal {
            a{
                width: 75%;
                height: 75px;
                margin-bottom: 25px;
            }
           
            &__enter, &__main_dish, &__dessert{
                display: flex;
                flex-direction: column;
                align-items: center;
                
            }
        }
    }

    @media (min-width:$screen-desktop)
    {
        &__meal {
            width: 100%;
            flex-wrap: nowrap;
            justify-content: space-around;
            &__enter, &__main_dish, &__dessert{
                display:block;
                width: 30%;
            }
        }
    }
}